@model IList<Person>
@{
    ViewData["Title"] = "People List";
    }


<style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
    </style>

<h1>people</h1>
<table>
    <thead>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var person in Model)
        {
            <partial name="PersonRowPartial" model="person"/>
        }
    </tbody>
</table>